@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.all-icons [class*="pe-"]{
    font-size: 40px;
}
.all-icons input{
    border: 0;
}
.all-icons .font-icon-detail{
    text-align: center;
    padding: 45px 0px 30px;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.all-icons .font-icon-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}

#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
.smpad{
    padding: 5px;
}

.medicineBtn {
    float: left !important;
    margin-top: 92px;
    position: relative;
    right: 48%;
}

.imgLightBox {
    height: 75px;
    width: 75px;
    border-radius : 0px;
}




//Anoop


.deshboard-links.nlist .ncount , .deshboard-links.nlist
{
    position:relative;
}
.deshboard-links.nlist .ncount i 
{
    left: -11px;
    position: absolute;
    top: 26px;
    font-size:16px;
    color:rgb(51 , 51 , 51);
}
.collapse.navbar-collapse .navbar-nav > li {
    float: left;
    margin: 0 10px 0 0;
}
.deshboard-links.nlist .ncontainer
{
    display:none;
   max-height: 330px;
    left:-12px;
    overflow: auto;
    position: absolute;
    top: 50px;
   height:auto;
    width: 250px;
    background:#000;
    z-index: 9999;
      border: 1px solid #dbdbdb;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.deshboard-links.nlist .ncontainer ul 
{
    background:#fff;
    display:block !important;
    padding:0;
   
    
}

.deshboard-links.nlist .ncontainer ul  li 
{
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 10px 16px 10px 38px;
    position: relative;
    text-align: left;
}
.deshboard-links.nlist .ncontainer ul  li:hover {
    background-color: #f5f5f5;
    border-color: #484848;
}
.deshboard-links.nlist .ncontainer ul  li  i {
     left: 10px;
    position: absolute;
    top: 14px;
}
.find-doctor{
    position: relative;
    top: 5px;
    float: left;
}
}